:root {
	--space-xxs: .25rem;
	--space-xs: .50rem;
	--space-s: .75rem;
	--space-m: 1rem;
	--space-l: 1.25rem;
	--space-xl: 1.5rem;
	--space-xxl: 1.75rem;
	--space-xxxl: 3rem;

	--color-white: #fff;
	--color-black: #000;

	--color-gray: #9e9e9e;
	--color-gray-light: #cecece;
	--color-gray-dark: #5f5f5f;
	--color-gray-darkest: #1f1f1f;

	--color-primary: #1976d2;
	--color-primary-light: #42a5f5;
	--color-primary-dark: #1565c0;
	--color-primary-darkest: #11161F;

	--color-secondary: #9c27b0;
	--color-secondary-light: #ba68c8;
	--color-secondary-dark: #7b1fa2;
	--color-secondary-darkest: #4c076a;

	--color-success: #2e7d32;
	--color-success-light: #4caf50;
	--color-success-dark: #1b5e20;
	--color-success-darkest: #044408;

	--color-error: #d32f2f;
	--color-error-light: #ef5350;
	--color-error-dark: #c62828;
	--color-error-darkest: #a90505;

	--color-danger: #ed6c02;
	--color-danger-light: #ff9800;
	--color-danger-dark: #e65100;
	--color-danger-darkest: #973906;

	--color-warning: #ffeb3b;
	--color-warning-light: #ffef62;
	--color-warning-dark: #b2a429;
	--color-warning-darkest: #857809;

	--switch-size-small: .75rem;
	--switch-size-medium: 1rem;
	--switch-size-large: 1.5rem;

	--select-size-small: .75rem;
	--select-size-medium: 1rem;
	--select-size-large: 1.5rem;
}
